$c-alabaster = #fafafa;
$c-cerulean-blue = #2d67b8;
$c-white = #ffffff;
$c-tundora = #444444;
$c-steel-blue = #487abf;
$c-oslo-gray = #808995;
$c-nobel = #e4e4e4;
$c-black = #000000;
$c-green = #04B404;